.form {
    display: flex;
    flex-direction: column;
    > * {
        margin-bottom: $l-size;
    }
}

.form__error{
    margin: 0 0 $m-size 0;
    font-style: italic;
    color:red;
    font-weight: 800;
}

.rdl-control {
    height: 200px;
    width: 30%;
  }

  .treats-title {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
  }

  .form-item-activity{
      display: flex;
      flex-direction: row;
      margin-right: auto;
  }


  .no-options-message-text{
      display: flex;
      align-items: center;
      justify-content: center;
      font-style: italic;
      color: $grey;
  }


.form__edit-history-treatment-seperator{
    border: 3px solid darken($off-white, 12%);
    border-top: none;
    margin-top: 10px;
    margin-bottom: 100px;
}

.form__edit-history-data{
    display: flex;
    flex-direction: row;
}

.form__edit-history-data__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $grey;
    margin-left: $l-size;
    padding-top: $m-size;

}

.form__edit-history-data__select{
    width: 200px;
}

.form__edit-history-add-icon{
    color:#009900;
    font-size: $l-size;
     &:hover {
        color: darken(#009900, 15%);
        cursor: pointer;
      }
}

.form__edit-history-aromSynergy-title{
    text-decoration: underline;
    font-weight: 300;
}

.form__edit-history-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: $l-size;
}


.form__edit-history-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: $l-size 0 $l-size 0;
}

.form__edit-history-add-icon__purple{
    color:#8510D8;
    font-size: $ml-size;
     &:hover {
        color: darken(#8510D8, 15%);
        cursor: pointer;
      }
}

.form__edit-history-add-icon__red{
    color: red;
    font-size: $ml-size;
     &:hover {
        color: darken(red, 15%);
        cursor: pointer;
      }
}

.form__edit-synergy-title-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form__edit-images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}