.header {
    background: $dark-blue;
}

.header__date{
    color:$off-white;
    text-decoration: none;
    h1 {
        margin:0;
    }
}

.header__title{
    @extend .header__date;
    margin-right: $l-size;
    &:hover {
        color: darken($off-white, 20%);
      }
}

.header__title-notification{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0.4rem;
    &:hover {
        cursor: pointer;
      }
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $s-size 0;
}

.header__iconbell{
    color:$off-white;
    font-size: 2.2rem;
    &:hover {
        color: darken($off-white, 20%);
      }
}

.header__logout-icon{
    color: $off-white;
    font-size: $ml-size;
    margin-left: $s-size;
    margin-right: $s-size;
    margin-top: 6px;
     &:hover {
        color: darken($off-white, 20%);
        cursor: pointer;
      }
}