.text-input {
    border: 1px solid #cacccd;
    height:50px;
    padding: $xs-size;
    font-size: $font-size-large;
    font-weight: 300;
}

.select {
    @extend .text-input;
 }

 .textarea {
    @extend .text-input;
    height: 18rem;

 }
 
 
 .ten {
     width: 10%;
 }

 .thirty {
     width: 30%;
 }

 .fifty{
     width: 50%;
 }

 .text-input-thin {
    @extend .text-input;
    height:39px;
    font-size: $font-size-small;
}